.markdown-section ul:has(a.specialLink) {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    width: 100%;
    gap: calc(.25rem * 4);
    padding: 0;
    margin: 0;
}

.markdown-section ul:has(a.specialLink) > li {
    list-style: none;
    flex-direction: column;
    flex: 1;
    display: flex;
    align-items: center;
}

.markdown-section a.specialLink {
    display: flex;
    padding: 0.5em;
    text-decoration: none;
    border: 5px outset color-mix(in srgb, var(--text-color-base), black 10%);
    background-color: var(--text-color-base);
    filter: drop-shadow(0px 1px 3px var(--text-color-base-complement));
    /*text-shadow: 1px 1px 1px color-mix(in srgb, var(--text-color-base), white 50%);*/
    border-radius: 1em;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    color: var(--text-color-base-complement);
    width: 85%;
}

.markdown-section a.specialLink:hover {
    text-decoration: none;
    background-color: var(--dark-theme-color);
    border-color: color-mix(in srgb, var(--dark-theme-color), black 10%);
    color: var(--link-color);
    text-shadow: 1px 1px 1px var(--text-color-base-complement);
}

.markdown-section a.specialLink:active {
    background-color: var(--dark-theme-color);
    border-color: color-mix(in srgb, var(--dark-theme-color), black 10%);
    color: var(--link-color);
    text-shadow: 1px 1px 1px var(--text-color-base-complement);
    border-style: inset;
}

@media (min-width: 640px) {
    .markdown-section ul:not(:has( > li:only-child > a.specialLink)) {
        grid-template-columns: repeat(2,minmax(0,1fr));
    }
}