:root {
    --text-color-base: var(--sidebar-nav-link-color);
    --blockquote-em-font-style: italic;
    --text-color-base-complement: color(from var(--text-color-base) display-p3 calc(r - 0.6) calc(g - 0.6) calc(b - 0.6));
    --docsifyselect-menu-background: var(--base-background-color);
    --docsifyselect-menu-border-color: var(--text-color-base);
    --docsifyselect-menu-line-height: 22px;
}

.docsify-dark-mode .docsify-select-menu {
    --docsifyselect-menu-background: var(--dark-base-background);
}

.docsify-dark-mode .markdown-section h1,
.docsify-dark-mode .markdown-section h2,
.docsify-dark-mode .markdown-section h3,
.docsify-dark-mode .markdown-section h4,
.docsify-dark-mode .markdown-section h5,
.docsify-dark-mode .markdown-section h6 {
    color: var(--dark-heading-color)
}

.markdown-section h1 a,
.markdown-section h2 a,
.markdown-section h3 a,
.markdown-section h4 a,
.markdown-section h5 a,
.markdown-section h6 a {
    text-decoration: none;
}

.search .clear-button.show {
    margin: auto;
}

.page_toc {
    border-left-color: rgba(211, 211, 211, 0.2);
    max-height: 500px;
    overflow: auto;
}

.version-selector select {
    border-radius: 5px;
}

.markdown-section h1:first-of-type {
    text-align: center;
}

p:has(img) {
    display: flex;
    justify-content: center;
}

.markdown-section pre[data-lang]::after {
    right: unset;
    left: .75em;
    text-align: left;
}

.value {
    
}